html, body{  /*creates the general size of the body of both pages */
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    background: linear-gradient(to right, #c5c2cf, #555859);
    position: absolute;
}

.intro{  /*This is the div that outputs the background image with the two people wearing clothes */
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("../images/2.png");
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner{ 
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    
}

.content h1{
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000000;
    font-size: 500%;
}

.btn{/*This is the div with the get started button */
    border: solid #00b4e1 3px;
    border-radius: 9px;
    font-family: 'Oswald',sans-serif;
    color: #00b4e1;
    font-size: 130%;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    
}

.btn:hover{/*This allows the button to make the smooth colour transition */
    transition:color 2000ms, color 1000ms;
    color: #FFFFFF;
    border: solid #FFFFFF 3px;
}

p{
    font-size: 160%;
    line-height: 210;
    margin: 3%;
    font-family: sans-serif;
}

h2{
    color: white;
    margin-left: 1185px;
    margin-top:-120px;
    height: 100px;
    font-size: 20px;
    font-family: sans-serif;
    width: 250px;
    position: absolute;
}

#logohold{ /*this is the black round box that holds the joker image on the landing page */
    background-color: black;
    width: 250px;
    height: 250px;
    position: absolute;
    margin-left: 1170px;
    margin-top: -780px;
    border-radius: 15%;
    
}

#logohold img{
    margin-left: 30px;
}

#nbar{  /*this is the styling for the navigation bar*/
    background-color: black;
    width: 1440px;
    height: 115px;
    margin-top: 0px;
}

#nbar img{  /*this postion the image within the nbar*/
    margin-left: 20px;
    margin-top: 10px;
}

#jokhead{  /*this determines the size of the image*/
    height: 150px;
    width: 450px;
    margin-left: 85px;
    background-image: url("../images/23.png");
    margin-top: -130px;
}

.div{ /*this is one of 6 div classes that all detmerine the colour,size and position of each 'tile' with the clothes in it*/
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
  margin-left: 10px;
  margin-top: -15px;
font-family: sans-serif;
}
.div1{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
  margin-left: 310px;
  margin-top: -400px;
font-family: sans-serif;
}

.div2{
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
  margin-left: 610px;
  margin-top: -400px;
font-family: sans-serif;
}

.Nos{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
  margin-left: 910px;
  margin-top: -400px;
  font-family: sans-serif;
}


.div3{
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
  margin-left: 10px;
  margin-top: -70px;
font-family: sans-serif;
}

.div4{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
  margin-left: 310px;
  margin-top: -400px;
font-family: sans-serif;
  
}

.div5{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
  margin-left: 610px;
  margin-top: -400px;
  font-family: sans-serif;
  
}

.Nop{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
  margin-left: 910px;
  margin-top: -400px;
  font-family: sans-serif;
}

.info{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 380px;
  width: 305px;
  display: flex;
  border: solid grey;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
  margin-left: 1055px;
  margin-top: -485px;
  font-family: sans-serif;
}

iframe{
    height: 350px;
    width: 275px;
}

#check{ 
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  border: solid grey;
  cursor:pointer;
  color: #FFFFFF;
  border-radius: 7px;
  padding: 15px;
  width: 275px;
  height: 25px;
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 1055px;
  text-align: center;
  overflow: hidden;
  margin-top: 25px;
}


#check:active {
  box-shadow: 0 5px #000000;
  transform: translateY(5px);
}



#table{  /*this determines the placement of the table, the size and the colours*/
    margin-left: 1035px;
    position: absolute;
    margin-top: 150px;
    background: linear-gradient(to right, #1cd8d2, #93edc7);
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2)    
}



td{  /*this determines the shape of each cell in the table */
    border-radius: 15%;
    font-family: sans-serif;
}

#fset{ /*this detemrines the styles of the div that holds the dropdown list*/
    width:275px;
    margin-left: 1055px;
    text-align: center;
    margin-top: -700px;
    background:linear-gradient(to right, #1cd8d2, #93edc7);
    border-radius: 7px;
    height: 35px;
    border: solid grey;
    
}

input{  /*this changes the radio buttons be bigger*/
     height:25px;
     width:25px;
     cursor:pointer;

}


#footer{  /*this styles the footer div and where the text is algined and the colour*/
    width: 1440px;
    height: 40px;
    background-color: black;
    text-align: center;
    position: absolute;
    font-family:fantasy;
    color: white;
    margin-top: 605px;
}

